body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.esri-ui-top-left {
  top: 70px;
}
.Toastify__toast-container--bottom-center {
  bottom: 0;
}
.Toastify__toast--info {
  background: #1daf50;
  color: #ffffff;
  font-weight: 500;
  text-align: left;
  border-radius: 0px 55px 55px 0px;
}
.Toastify__progress-bar {
  background-color: rgb(17, 105, 48);
}
.Toastify__toast {
  min-height: 55px;
  margin-bottom: 4.5rem;
  padding: 0px 20px;
}
.Toastify__toast-container--bottom-center {
  margin-left: -400px;
}
.Toastify__toast-container--bottom-left {
  left: 0;
}
.Toastify__toast-container {
  padding: 0px;
  width: 500px;
}
.Toastify__close-button {
  align-self: center;
}
.link-acompanhar{
  color: #8e2727;
  font-weight: 600;
  font-size: 15px;
}
.link-acompanhar:hover{
  color: #8e2727;
}

.slide-enter {
  transform: translateX(-100vw);
  opacity: 0;
  position: absolute;
  
}
.slide-enter.slide-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 300ms linear 300ms;
}
.slide-exit {
  transform: translateX(0);
  opacity: 1;
  
}

.slide-exit.slide-exit-active {
  transform: translateX(100vw);
  opacity: 0;
  transition: all 300ms linear
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.esri-component.esri-attribution.esri-widget{
  display: none;
}
